.container {
  width: 100vw;
  height: 100vh;
  background: #9EAEFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  width: 35rem;
  height: 42rem;
  
  background: #7D89F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.ImgContainer{
  text-align: center;
  margin-top: 3rem;
}
.ContentContainer{
  text-align: center;
}
.Inputs{
  margin-left: auto;
  margin-right: auto;
  width: 23rem;
  height: 1.8rem;
  text-align: left;
  border-radius: 10px;
  border-color: black;
  animation: none;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#PwdContainer{
  margin-top: 2rem;
}
#LoginButton{
  width: 23rem;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 5px;
  background-color: #FFC700;
  border-color: black;   
}